<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工单管理系统</title>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/factory.js"></script>
    <script src="/static/js/home_list.js"></script>
    <script src="/static/js/tab.js"></script>
    <script src="/static/css/dist/js/bootstrap.min.js"></script>
    <link href="/static/css/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/home.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/tab.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container" id="nav">
    <h2>欢迎</h2>
    <ul id="myTab" class="nav nav-pills" role="tablist">
        <li class="active"><a data-toggle="tab">主页</a></li>
        <li><a id="creat" data-toggle="tab">工卡创建</a></li>
        <li><a id="show" data-toggle="tab">工卡列表</a></li>
        <li><a id="doing" data-toggle="tab">正在执行的工卡</a></li>
    </ul>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    个人信息
                </div>
                <div class="panel-body">
                    <label>用户名:</label>&nbsp<span id="uname"></span><br>
                    <label>工号:</label>&nbsp<span id="uid"></span><br>
                    <label>职务:</label>&nbsp<span id="type"></span><br>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    待办事项
                </div>
                <div class="panel-body">
                    <dl>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">任务查看</h4>
            </div>
            <div class="modal-body">
                <form class="bs-example bs-example-form" role="form">
                    <div class="input-group">
                        <label class="input-group-addon">执行日期</label>
                        <input type="text" class="form-control" id="do-data">
                    </div>
                    <br>
                    <div class="input-group">
                        <label class="input-group-addon">施工人</label>
                        <input type="text" class="form-control" id="do-name">
                    </div>
                    <br>
                    <div class="input-group">
                        <label class="input-group-addon">所需工时</label>
                        <input type="text" class="form-control" id="time">
                        <label class="input-group-addon">小时</label>
                    </div>
                    <br>
                    <div class="input-group">
                        <label class="input-group-addon">机型</label>
                        <input type="text" class="form-control" id="plane-no">
                    </div>
                    <br>
                    <div class="input-group">
                        <label class="input-group-addon">航班号</label>
                        <input type="text" class="form-control" id="fly-no">
                    </div>
                    <br>
                    <div class="input-group">
                        <label class="input-group-addon">维修区域</label>
                        <input type="text" class="form-control" id="fix-area">
                    </div>
                    <br>
                    <div class="input-group">
                        <label class="input-group-addon">待维修部件</label>
                        <input type="text" class="form-control" id="fix-part">
                    </div>
                    <br>
                    <div class="input-group">
                        <label class="input-group-addon">所需航材</label>
                        <input type="text" class="form-control" id="need-part">
                    </div>
                    <br>
                    <div class="input-group">
                        <label class="input-group-addon">所需工具</label>
                        <input type="text" class="form-control" id="need-tools">
                    </div>
                </form>
                <br>
                <form role="form" style="margin:20px">
                    <div class="form-group">
                        <label for="work-detail">工作要求</label>
                        <textarea class="form-control" rows="2" id="work-detail"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="work-notice">施工准备风险点</label>
                        <textarea class="form-control" rows="2" id="prepare-notice"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="work-notice">施工风险点</label>
                        <textarea class="form-control" rows="2" id="work-notice"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="work-notice">施工技巧</label>
                        <textarea class="form-control" rows="2" id="work-way"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="confirm" >确定</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>