<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工卡列表</title>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/factory.js"></script>
    <script src="/static/js/show_list.js"></script>
    <script src="/static/js/tab.js"></script>
    <script src="/static/css/dist/js/bootstrap.min.js"></script>
    <link href="/static/css/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/show_list.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/tab.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container" id="nav">
    <h2>欢迎</h2>
    <ul id="myTab" class="nav nav-pills" role="tablist">
        <li><a id="main" data-toggle="tab">主页</a></li>
        <li><a id="creat" data-toggle="tab">工卡创建</a></li>
        <li class="active"><a id="show" data-toggle="tab">工卡列表</a></li>
        <li><a id="doing" data-toggle="tab">正在执行的工卡</a></li>
    </ul>
</div>
<div class="container" id="tab-show">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>工卡号</th>
            <th>创建日期</th>
            <th>执行日期</th>
            <th>待执行者</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<!--模态框-->
<div class="modal fade" id="todo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">工卡560001</h4>
            </div>

            <div class="modal-body">
                <p>
                    <label>创建日期:</label>&nbsp<span id="creat-data"></span>&nbsp&nbsp
                    <label>执行日期:</label>&nbsp<span id="do-data"></span>
                </p>
                <p>
                    <label>创建者:</label>&nbsp<span id="creat-name"></span>&nbsp&nbsp
                    <label>施工者:</label>&nbsp<span id="do-name"></span>
                </p>
                <p>
                    <label>机型:</label>&nbsp<span id="plane-no"></span>&nbsp&nbsp
                    <label>航班号:</label>&nbsp<span id="fly-no"></span>
                </p>
                <p>
                    <label>维修区域:</label>&nbsp<span id="fix-area"></span>&nbsp&nbsp
                    <label>待维修部件:</label>&nbsp<span id="fix-part"></span>
                </p>
                <p>
                    <label>所需航材:</label>&nbsp<span id="need-part"></span>&nbsp&nbsp
                    <label>所需工具:</label>&nbsp<span id="need-tools"></span>
                </p>
                <p>
                    <label>工时:</label>&nbsp<span id="time"></span>
                </p>
                <p>
                    <label>工作要求:</label>&nbsp<span id="work-detail"></span>
                </p>
                <p>
                    <label>施工准备风险点:</label>&nbsp<span id="preapare-notice"></span>
                </p>
                 <p>
                    <label>施工风险点:</label>&nbsp<span id="work-notice"></span>
                </p>
                 <p>
                    <label>施工技巧:</label>&nbsp<span id="work-way"></span>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="confirm-btn">确认执行</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>