<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工卡列表</title>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/show_list.js"></script>
    <script src="/static/js/tab.js"></script>
    <script src="/static/css/dist/js/bootstrap.min.js"></script>
    <link href="/static/css/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/show_list.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/tab.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container" id="nav">
    <h2>欢迎</h2>
    <ul id="myTab" class="nav nav-pills" role="tablist">
        <li><a id="main" data-toggle="tab">主页</a></li>
        <li><a id="creat" data-toggle="tab">工卡创建</a></li>
        <li class="active"><a id="show" data-toggle="tab">工卡列表</a></li>
        <li><a id="doing" data-toggle="tab">正在执行的工卡</a></li>
    </ul>
</div>
<div class="container" id="tab-show">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>创建日期</th>
            <th>执行日期</th>
            <th>工卡号</th>
            <th>航班号</th>
            <th>机型</th>
            <th>创建者</th>
            <th>施工者</th>
            <th>工时</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2017-03-27</td>
            <td>2017-03-28</td>
            <td>560001</td>
            <td>MF2048</td>
            <td>B747</td>
            <td>金程</td>
            <td>金富帅</td>
            <td>2</td>
            <td>进行中</td>
            <td><a data-toggle="modal" data-target="#todo">查看</a></td>
        </tr>
        <tr>
            <td>2017-03-27</td>
            <td>2017-03-28</td>
            <td>560001</td>
            <td>MF2048</td>
            <td>B747</td>
            <td>金程</td>
            <td>金富帅</td>
            <td>2</td>
            <td>待进行</td>
            <td><a>查看</a></td>
        </tr>
        <tr>
            <td>2017-03-27</td>
            <td>2017-03-28</td>
            <td>560001</td>
            <td>MF2048</td>
            <td>B747</td>
            <td>金程</td>
            <td>金富帅</td>
            <td>2</td>
            <td>已完成</td>
            <td><a>查看</a></td>
        </tr>
        </tbody>
    </table>
</div>
<!--模态框-->
<div class="modal fade" id="todo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">工卡560001</h4>
            </div>

            <div class="modal-body">
                <p>
                    <label>创建日期:</label>&nbsp<span>2017-03-27</span>&nbsp&nbsp
                    <label>执行日期:</label>&nbsp<span>2017-03-28</span>
                </p>
                <p>
                    <label>创建者:</label>&nbsp<span>金程</span>&nbsp&nbsp
                    <label>施工者:</label>&nbsp<span>金富帅</span>
                </p>
                <p>
                    <label>机型:</label>&nbsp<span>B747</span>&nbsp&nbsp
                    <label>航班号:</label>&nbsp<span>MU2048</span>
                </p>
                <p>
                    <label>维修区域:</label>&nbsp<span>起落架</span>&nbsp&nbsp
                    <label>待维修部件:</label>&nbsp<span>轮胎充气</span>
                </p>
                <p>
                    <label>所需航材:</label>&nbsp<span>么有</span>&nbsp&nbsp
                    <label>所需工具:</label>&nbsp<span>打气筒</span>
                </p>
                <p>
                    <label>工时:</label>&nbsp<span>2h</span>
                </p>
                <p>
                    <label>工作要求:</label>&nbsp<span>紧擦舒服哈犯法吗哦哈佛啊输送哈所发哈事故功能难道就能感受到你发誓减肥奶粉觉得你是女撒娇你发那份撒上的女你说了</span>
                </p>
                <p>
                    <label>注意事项:</label>&nbsp<span>紧擦舒服哈犯法吗哦哈佛啊输送哈所发哈事故功能难道就能感受到你发誓减肥奶粉觉得你是女撒娇你发那份撒上的女你说了</span>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确认执行</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>